$width: 175px;
$height: 102px;

@keyframes jump {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5%); }
  100% { transform: translateY(0); }
}

.hood {
  position: absolute; width: 175px; height: 275px; background-position: 50% 100%; background-repeat: no-repeat;
  bottom: -$height; left: 0; z-index: 1;

  &.jump { animation: jump 250ms 5; }

  &.direction-east { background-image: url(https://raw.githubusercontent.com/Gregcop1/cours-introduction-web/master/dist/assets/hood-east.png); }
  &.direction-north { background-image: url(https://raw.githubusercontent.com/Gregcop1/cours-introduction-web/master/dist/assets/hood-north.png); }
  &.direction-south { background-image: url(https://raw.githubusercontent.com/Gregcop1/cours-introduction-web/master/dist/assets/hood-south.png); }
  &.direction-west { background-image: url(https://raw.githubusercontent.com/Gregcop1/cours-introduction-web/master/dist/assets/hood-west.png); }

  &.direction-north,
  &.direction-west {
    transition: left 250ms ease-in-out, bottom 250ms cubic-bezier(0.32, 0.29, 0.09, 1.64);
  }

  &.direction-east,
  &.direction-south {
    transition: bottom 250ms ease-in-out, left 250ms cubic-bezier(0.32, 0.29, 0.36, 1.24);
  }
}
